*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(190, 226, 249);
}
.container{
    background-color: white;
    border-radius: 10px;
    width: 480px;
    /* height: 500px;  no responsiveness for response make percentage*/
    overflow: hidden;

}
.header h2{
    margin-top: 10px;
    text-align: center;
}
.form{
    padding: 30px 40px;
}

.field{
    margin-bottom: 5px;
    padding-bottom: 10px;
    position: relative;
}
.field label{
    display: inline-block;
    margin-bottom: 5px;
}
/*  present no change with above class */
.field input:not(.terms){
    display: block;
    border-radius: 4px;
    border : 2px solid #f0f0f0;
    font-size: 15px;
    width: 100%;
    padding: 10px;
}

.field span{
    position: absolute;
    top: 30px;
    right: 10px;
    /* here any value its no exact same location why? */
    visibility: hidden;
}
.field small{
    position: absolute;
    bottom: 0px;
    left: 0;
    visibility: hidden;
}
.button{
    background-color: rgb(90,104,235);
    width: 100%;
    border: 5px solid  rgb(90,104,235);
    font-size: 15px;
    color: white;
}

.field.success input{
    border-color: green;
}
.field.error input{
    border-color: red;
}
.field.error span.error{
    color: red;
    visibility: visible;
}
.field.success span.success{
    color: green;
    visibility: visible;
}
.field.error span.success{
    visibility: none;
}
.field.success span.error{
    visibility: none;
}
.field.error small{
    visibility: visible;
    color: red;
}



