*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: grid;
}
.header{
    height: 450px;
    width: 100vw;
    background-color: #E7EEEE;
    position: relative;

}
.navbar{
    display: flex;
    padding: 20px;
    column-gap: 10px;
}

.v-line{
    height: 45px;
    width: 2px;
    background-color: #000;
}
.navbar img {
    max-height: 60px;
    width: auto;
}
.companyname{
    display: flex;
    justify-content: space-between;
}
.companytext{
    padding: 40px ;
    
    font-size: 1.5rem;
}
.companytext span{
    color: #579c79;
}
.companytext .tagline{
    color: #7fa6b5;
}

.companyimagefront{
    right: 0;
    position: absolute;
    top: 5px;
    height: 500px;
    
}
.companyimageback{
    position: absolute;
    right: 0;
    height: 450px;
    opacity: 0.3;
   right: 19px;
   top: 0;
}
.content {
    padding: 60px;
    font-size: 16px;
    line-height: 1.7;
}
.content p {
    font-weight: 500;
}
.supported {
    text-align: center;
    padding: 50px;
    color: #7fa6b5;
}
.logo-row{
    display: flex;
    column-gap: 40px;
    margin-top: 20px;
    justify-content: center;
}
.logo-row img {
    height: 70px;
    
}
.partners{
 text-align: center;
    padding: 10px;
    color: #7fa6b5;
}
.partners img{
    height: 40px;
    margin: 20px 25px;
}