*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: repeat(8,60px);
    grid-template-rows: repeat(8,60px);
    justify-content: center;
    align-content: center;
    position: relative;
    top: 50px;
}
.container div{
    border: 1px solid black;
}
.black{
    background-color: black;
    height: 60px;
    width: 60px;
   
}
.white{
    background-color: white;
    height: 60px;
    width: 60px;
   
  
}