*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    
    background-color: rgb(146, 222, 249);
}
.header ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
}
.content-profile{
    justify-content: center;
    display: flex;
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    text-align: center;
    padding: 0 20px;
}
.imagesection{
    display: flex;
    padding: 60px;
    gap: 70px   ;
}
.imagecss{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.aboutme h1 {
    text-align: center;
}
.aboutme p{
   padding: 0 20px;
   
}
.myskills{ 
    text-align: center;
    margin-top:45px ;
}
.myskills h4{
    font-size: 1rem;
}
.myskills h2{
    font-size: 3rem;
}
.myskills p{
    padding: 0 20px;
}

.project-main h2{
    text-align: center;
    margin-top: 45px;
    font-size:2.5rem ;
}
.project-main{
    padding: 0 20px;
}


/* holy grail layout stylings */

